* {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* width: 50%; */
}

.platillo {
    border: 1px solid #000;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    border-radius: 2px;
}

.platillo:hover {
    background-color: aquamarine;
}

#oferta-especial {
    background-color: rgba(255, 215, 0, 0.5);
    font-weight: 700;
}

ul {
  list-style-type: none;
}