body {
    padding: 10px;
}

.mesa {
    border: 2px solid paleturquoise;
    padding: 5px;
    display: flex;
    border-radius: 4px;
    flex-wrap: wrap;
    gap: 10px;
}

.carta {
    width: 150px;
    background-color: beige;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gold;
    font-weight: bold;
    font-size: 24px;
}