body {
    margin: 30px;
}

.caja {
    width: 50px;
    height: 50px;
    text-align: center;
    color: rgb(216, 205, 205);
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 5px;
}

.caja1 {    
    background-color: lightslategray;   
}

.caja2 {   
    background-color: lightsteelblue;  
}

.caja3 {    
    background-color: lightseagreen;   
}

.contenedor {
    display: flex;
    gap: 20px;
    /* flex-direction: column; */
    justify-content: center;
}
