.hero-section {
    width: 100%;
    height: 400px;
    background-image: url('../img/Autumn_Forest_Background.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: gold;
    font-weight: bold;
    box-shadow: 10px 10px;
    border-radius: 5px;
}