* {
    background-color: rgb(190, 221, 221);
}
.menu-lateral {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

button {
    padding: 10px 40px;
    border-radius: 3px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    width: 200px;
    background-color: #f2d5ce;
    color: rgb(248, 247, 247);
}