
* {
    padding: 0;
    margin: 0;
}
.navbar {
    background-color: #fff;
    border-bottom: 2px slategrey;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3a4664;
    border-radius: 3px;
    border: 1px slategrey solid;
    box-shadow: 2px 3px slategrey;
}

.iconos {
    font-size: 30px;
    display: flex;
    gap: 15px;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: rgb(228, 194, 153);
}